{% extends('base.html.twig') %}

{% block title %}Dodaj artykuł - BLOG{% endblock %}

{% block body %}
    <article class="artykul shadow p-3 mb-5 bg-white rounded">
        <h2 class="artykul_title">Nowy artykuł</h2>
        <p>{{ form(form) }}</p>
    </article>
{% endblock %}